.dino-dynamic-island {
    @apply absolute top-0 grid h-10 items-center whitespace-nowrap rounded-full bg-surface-primary px-4 text-default-white;
    transform: translateX(-50%);
    grid-template-columns:
        auto
        calc(
            var(--dino-dynamic-island-expand, 0) *
                var(--dino-dynamic-island-width)
        )
        auto;
    transition: 0.8s var(--dino-global-transition-timing-func) 0.1s;

    &-wrapper {
        @apply relative h-10;
    }

    &-content {
        @apply flex justify-between overflow-hidden;

        a {
            transition: 0.4s
                var(--dino-global-transition-timing-func);
        }
    }

    &-content:has(a:hover) a:not(:hover) {
        @apply opacity-[0.5];
    }
}
