.dino-hero-cta {
    .cta-text {
        transition: 1s var(--dino-global-transition-timing-func);
        transform: translateY(calc(var(--dino-cta-fixed) * -1 * 50%));
    }

    .cta-icon {
        transition: 0.8s var(--dino-global-transition-timing-func);
        transform: rotate(calc(var(--dino-cta-fixed) * -90deg));
    }
}
