.dino-bento {
    display: grid;
    grid-template-columns: var(--columns-template);
    grid-template-rows: var(--rows-template);
    grid-template-areas: var(--area-template);

    &-slot {
        grid-area: var(--slot-name);
    }
}
