.dino-magnet-group {
    &-wrapper {
        @apply z-[1];
    }

    &-wrapper::after {
        transition:
            opacity calc(var(--dino-global-transition-duration)),
            inset calc(var(--dino-global-transition-duration))
                calc(var(--dino-global-transition-delay));
        transition-timing-function: calc(
            var(--dino-global-transition-timing-func)
        );

        content: "";

        @apply pointer-events-none absolute z-[-1] rounded-lg border-neutral-300 bg-neutral-200/50;

        inset: calc(var(--dino-magnet-group-indicator-top) * 1px)
            calc(100% - var(--dino-magnet-group-indicator-right) * 1px)
            calc(100% - var(--dino-magnet-group-indicator-bottom) * 1px)
            calc(var(--dino-magnet-group-indicator-left) * 1px);

        opacity: var(--dino-magnet-group-indicator-active, 0);

        &[data-color="primary"] {
            @apply bg-surface-primary;
        }

        &[data-indicator-style="border"] {
            @apply border-2 bg-transparent;
            &[data-color="primary"] {
                @apply border-nikko-blue-400;
            }
        }
    }

    &-wrapper:hover {
        --dino-magnet-group-indicator-active: 1;
    }

    &-wrapper:hover::after {
        transition:
            opacity calc(var(--dino-global-transition-duration))
                calc(var(--dino-global-transition-delay)),
            inset calc(var(--dino-global-transition-duration));
    }
}
