.dino-tooltip {
    &-content {
        @apply rounded-lg bg-default-white px-4 py-2 opacity-0 drop-shadow-2;

        transition: opacity;
        transition-delay: 0.1s;
        transition-duration: var(--dino-global-transition-duration);
        transition-timing-function: var(--dino-global-transition-timing-func);
    }

    &-arrow {
        @apply fill-default-white;
    }

    &-content[data-is-open="true"] {
        opacity: 1;
    }

    &-content[data-is-open="false"] {
        opacity: 0;
    }
}
