.dino-separator {
    @apply bg-default-separator;

    &[data-orientation="vertical"] {
        height: 100%;
        width: 1px;
    }

    &[data-orientation="horizontal"] {
        height: 1px;
        width: 100%;
    }
}
