@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@import "../build/css/colors.css";

@import "./icon-group/styles.css";
@import "./tooltip/styles.css";
@import "./carousel/styles.css";
@import "./separator/styles.css";
@import "./button/styles.css";
@import "./bento/styles.css";
@import "./link/styles.css";
@import "./nav/styles.css";
@import "./magnet-group/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    @apply h-full font-medium text-typography-default;

    -ms-overflow-style: none; /*IE 10+*/
    scrollbar-width: none; /*Firefox*/
    &::-webkit-scrollbar {
        display: none; /*Safari and Chrome*/
    }
}

:root {
    --dino-global-transition-duration: 0.2s;
    --dino-global-transition-delay: 0.2s;
    --dino-global-transition-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}

@layer base {
    h1 {
        @apply text-h1;
    }
    h2 {
        @apply text-h2;
    }
    h3 {
        @apply text-h3;
    }
    h4 {
        @apply text-h4;
    }
    h5 {
        @apply text-h5;
    }
    h6 {
        @apply text-h6;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold text-typography-heading;
    }
}
